:root {
  --md-primary-fg-color: #2e2e2c;
}

.md-header {
  background-color: var(--md-primary-fg-color) !important;
}

.md-tabs {
  background-color: #03a2b7 !important;
}

.md-header__topic .md-ellipsis {
  background-color: var(--md-primary-fg-color);
  color: white; /* opcional, para melhorar contraste */
}



/* Ocultar item ativo do menu lateral, se desejar ativar depois */
/*
.md-nav__item--active {
  display: none !important;
}
*/


/* Alert boxes do Material */
.md-typeset .admonition-info {
  background-color: #f0fff4;
  border-left: 4px solid #32cd32; /* verde */
}

.md-typeset .admonition-success {
  background-color: #f0f9ff;
  border-left: 4px solid #00bfff; /* azul */
}

.md-typeset .admonition-warning {
  background-color: #fffaf0;
  border-left: 4px solid #ffa500; /* laranja */
}

.md-typeset .admonition-danger {
  background-color: #fff0f0;
  border-left: 4px solid #ff4500; /* vermelho */
}
